<h1>LIBRARY INVENTORY BUILDER</h1>

<form action='/authors' method="post">
  <label for="inputAuthor">Enter your Author:</label>
  <input name="inputAuthor" class="form-control" id="inputAuthor">
  <button type="submit" class="btn btn-success">Go.</button>
</form>

<a href="/Authors">View All Authors</a>
<br>
<a href="/BookList">View All Books</a>
