@foreach (var student in @Model)
{
<p>@student.GetDescription()      @student.GetEnrollmentDate()</p>
}
<br>
<a href="/">Home</a>

<form action="/StudentList/" method="post">
  <button type="submit" class="btn btn-success">Delete All Students</button>
</form>
