
<form action='/students/@Model["student"].GetId()' method='post'>
  <input id='student-id' name='student-id' type='hidden' value='@Model["student"].GetId()'>
  <label for='inputCourse'>Enter Course</label>
  <input id='inputCourse' name='inputCourse' type='text'>
  <button type='submit'>Add Course</button>
</form>
