<h1>UNIVERSITY REGISTRAR</h1>

<form action='/courses' method="post">
  <label for="inputCourse">Enter your Course:</label>
  <input name="inputCourse" class="form-control" id="inputCourse">
  <button type="submit" class="btn btn-success">Go.</button>
</form>

<a href="/Courses">View All Courses</a>
<br>
<a href="/StudentList">View All Students</a>
