@foreach (var course in Model)
{
  <p><a href = "/courses/@course.GetId()">@course.GetName()</a></p>;
}
<form action="/Courses" method="post">
  <label for="inputCourse">Add another course:</label>
  <input name="inputCourse" class="form-control" id="inputCourse">
  <button type="submit" class="btn btn-success">Go.</button>
</form>

<form action="/Courses/Delete" method="post">
  <button type="submit" class="btn btn-success">Delete All Courses</button>
</form>

<a href="/">Go home</a>
